<.header>
  Edit Employee <%= @employee.id %>
  <:subtitle>Use this form to manage employee records in your database.</:subtitle>
</.header>

<.employee_form changeset={@changeset} action={~p"/#{@employee}"} />

<.back navigate={~p"/"}>Back to employees</.back>
