<.header>
  New Employee
  <:subtitle>Use this form to manage employee records in your database.</:subtitle>
</.header>

<.employee_form changeset={@changeset} action={~p"/"} />

<.back navigate={~p"/"}>Back to employees</.back>
